@use '../abstracts/' as *;

.footer {
  background-color: $white-990;
  color: $white-50;

  // 1
  img {
    margin-inline: auto;
    padding-block: 4rem;
  }

  // 2
  &__links {
    @include above(700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .quick ul li,
      .contact ul li {
        text-align: left;
      }
    }

    .quick {
      margin-block: 2rem;

      span {
        display: flex;
        justify-content: center;
        font-size: $fs-body-large;
        font-weight: $fw-medium;
        margin-bottom: 0.5rem;
      }

      li {
        text-align: center;
      }
    }

    .contact {
      margin-block: 2rem;

      span {
        display: flex;
        justify-content: center;
        font-size: $fs-body-large;
        font-weight: $fw-medium;
        margin-bottom: 0.5rem;

        @include above(700px) {
          justify-content: left;
        }
      }

      li {
        text-align: center;
      }
    }

    .news {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block: 2rem;

      @include above(700px) {
        align-items: flex-start;
      }

      span {
        font-size: $fs-body-large;
        font-weight: $fw-medium;
        margin-bottom: 0.5rem;
      }

      p {
        text-align: center;
        width: 25ch;

        @include above(700px) {
          text-align: left;
        }
      }

      .button {
        @include above(700px) {
          margin-right: auto;
        }
      }
    }

    .reach {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include above(700px) {
        align-items: flex-start;
      }

      .phone {
        span {
          font-size: $fs-body-small;
          position: relative;
          margin-left: 1.5rem;

          &::before {
            position: absolute;
            content: url('icons/footer-phone.svg');
            top: 0.1rem;
            left: -1.5rem;
          }
        }
      }

      .email {
        span {
          font-size: $fs-body-small;
          position: relative;
          margin-left: 1.5rem;

          &::before {
            position: absolute;
            content: url('icons/footer-phone.svg');
            top: 0.1rem;
            left: -1.5rem;
          }
        }
      }

      .location {
        span {
          font-size: $fs-body-small;
          position: relative;
          margin-left: 1.5rem;

          &::before {
            position: absolute;
            content: url('icons/footer-phone.svg');
            top: 0.1rem;
            left: -1.5rem;
          }
        }
      }
    }
  }

  // 3
  .social {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    img {
      margin: 0;
    }
  }

  .copyright {
    font-size: $fs-body-small;
    text-align: center;
    padding-block: 2rem;
  }
}